header{
  text-align: center;
  height: 100px;
}
h1{
  font-family: 'Montserrat',sans-serif;
  background-color: #b6e5fe;
  text-align: center;
  text-shadow: white;
  font-size: 100px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:1px;
  border:1px solid #021a40;
}
h3{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-align: left;
  padding-left: 30px;
}
.intros{
  font-family: sans-serif;
}
.colors{
  background-color: #FEB6C1
}
.Match a{
  display: block;
  background-color: lightgrey;
  color: black;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}
