body {
  font-family: serif;
  font-size: 20;
  background-image: url(https://i.makeagif.com/media/6-12-2015/ZIKjfw.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: inherit;
  color: white;
  font-style: normal;
  font-weight: bold;
}
.loginmessage {
  background-color: inherit;
  border: 1px;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 50px 100px 100px 100px;
  text-align: center;
}
.messageii {
  font-family: 'Montserrat', sans-serif;
}
.search {
  color: white;
}

.form {
  shape-outside: content-box;
  font-family: sans-serif;
  font-size: 30px;
  background-position: center;
  text-align: center;
  opacity: .85;
  }

.form label {
  text-shadow: 3px 3px black;
}
h1 {
  text-align: center;
  color: white
  font-style: normal;
  font-weight: normal;
  /* color: #77dd77; */
  line-height: 50px;
  font-size: 200px;
  margin: 0 40px 10px;
  background-color: inherit;
  background-attachment: scroll;
}
a{
  color: inherit;
  border-radius: 1px
}
button {
  font-weight: normal;
  color: inherit;
  border: inherit;
  border-color: inherit;
  background-color: inherit;



}
