header{
  text-align: center;
  height: 100px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: .700;
  text-shadow: white;
  font-size: 125px;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: 10px 10px #b6fff4;
}
.doggo{
  float: right;
}
.images{
  width: 70%;
  float: right;
  height: calc(100vh - 100px);
}
.text{
  font: 'Montserrat', sans-serif; 45px;
}
.history{
  text-align: center;
  padding-bottom: 10px;
  font-size: 25px;
  font-style: normal;
  font-family: sans-serif;
  color: black;
  width: 30%;
  float: left;
  height: calc(100vh - 110px);
  background-color: #90b7cc;
  background-shadow: black;
}
.hisstory text {
  font-size: 75px;
  text-align: center;
}
.container{
  overflow: auto;
  height: 100%;
  min-width: 830px;
}
.containerpic{
  align-items: center;
}
.doggoboxo {
  text-align: left;
  display: block;
  flex: auto;
  shape-inside: .container;
}
.history img {
  max-height: 50px;
  max-width: 50px;
}
#borderimg {
  border-image: url(border.png) 30 round;
}
.box2{
  display: block;
  background-color: white;
  shape-inside: .container;
}
.fulllog a{
  display: block;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: .500;
  background-color: #feb6c1;
  color: black;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
}
.about a{
  display: block;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: .500;
  color: black;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
  background-color:#c3ffd8;
}
footer{
  display: block;
  width: 100%;
  text-align: center;
}
.hidden-images{
  display: none;
}
.dogpic{
  shape-inside: rectangle(.history);
  scroll-behavior: smooth;
  image-resolution: 10%;
}
.containertxt{
  font: 'Montserrat', sans-serif; 25px;;
  text-align: center;
}
body{
  background-image: url(http://u.cubeupload.com/marcuxbrown/FIXEDVERSION.png);
  background-size: cover;
}
p{
  background-color: #b6e5fe;
}
.adopt{
  display: block;
  width: 100%;
  font-family: 'Montserrat';
  font-weight: .500;
  color: black;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
  background-color:#c3ffd8;
}
