header{
  text-align: center;
  height: 100px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  text-shadow: white;
  font-size: 125px;
  padding-top: 0;
  padding-bottom: 0;
}
.doggo{
  float: right;
}
.images{
  background-color: red;
  width: 70%;
  float: right;
  height: calc(100vh - 100px);
}
.text{
  font: 'Montserrat', sans-serif; 45px;
}





.history{
  background-color: blue;
  text-align: left;
  color: orange;
  width: 30%;
  float: left;
  height: calc(100vh - 100px);
}
.container{
  background-color: green;
  overflow: auto;
  height: 100%;
  min-width: 830px;
}
.doggoboxo {
  display: block;
  flex: auto;
  background-color: yellow;
  shape-inside: .container;
}
#borderimg {
  border-image: url(border.png) 30 round;
}
.box2{
  display: block;
  background-color: white;
  shape-inside: .container;
}
.logout{
  position: fixed;
}
footer{
  display: block;
  width: 100%;
}
