header{
  text-align: center;
  height: 100px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: white;
  font-size: 125px;
}
h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: white;
  font-size: 100px;
}
body{
  text-align: center;
  background-color: lightpink;
  background-image: url(http://u.cubeupload.com/marcuxbrown/FIXEDVERSION.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.signIn{
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
  background-color: #feb6e5;
  font-stretch: expanded;
  color: inherit;
