header{
  text-align: center;
  height: 100px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: white;
  font-size: 125px;
  background-color: lightpink;
}
h2{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: white;
  font-size: 100px;
  background-color: lightpink;
}
body{
  background-image: url("https://i.pinimg.com/originals/8f/2f/d5/8f2fd5c5ece2d2c1e668fde7d3d39a3e.jpg");
}
.signIn{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: white;
  font-size: 125px;
}
