body {
  font-family: serif;
  font-size: 16;
  background: white;
  background-color: #ECF5FA;
}

.messageii {
  background-color: #ECF5FA;
  font-family: 'Geostar', cursive;
}

.loginmessage {
  background-color: ##d4dce1;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 50px 100px 100px 100px;
}

h1 {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  font-size: 50px;
  margin: 0 40px 10px;
}

.search {
  background: #faecf5;
}
